* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 100%;
    background: #fff;
    margin: 30px auto;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.125);
    padding: 20px;
  }
  
.container .judul{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
  }
  
.container .form{
    width: 100%;
    margin-bottom: 10px;
    padding: 30px;
  }
  
.container .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
.container .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 20px;
  }
  
.container .form .inputfield .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

.bawah{
    align-content: center;
    text-align: center;
}

.bawah .pill {
    font-size: 17px;
    padding: 0.75em 2em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
}
